@model DnDWeb.Models.Equipment

@{
    ViewData["Title"] = "ItemDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ItemDetails</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.armor_category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.armor_category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cost)
        </dt>
        <dd class="col-sm-10">
            @Model.cost.quantity @Model.cost.unit
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
